<!DOCTYPE html>
<html>

<head>
<title>Studienplaner</title>
<meta charset="utf-8">
<meta name="description" content="Übersicht der Studiengängen">
<!-- <link rel="stylesheet" href="css/stylesindex.css">  -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="css/mycssstyle.css">


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="angularjs/draganddrop.js"></script>
<script src="angularjs/app.js"></script>

</head>
<body ng-app="mainModule">
<div class="container drop-shadow">
<div class="container ">
<div class="row"> 
	<header>
		<a href="#" title="Zur Startseite"> <img
			src="images/LogoStudienplaner.jpg" class="img-circle"
			alt="Responsive" />
		</a>
		<img src="images/logo-hfu.gif"  class="img-responsive pull-right" alt="Responsive" >
		<h1>Studienplaner</h1>
		
		<nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-tabs">
      
        		<li class="active text-uppercase"><a href="#">Home</a></li>
				<li><a href="#">Mein Studienplan</a></li>
				<li role="presentation" class="dropdown">
    				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      					Dropdown-Menü <span class="caret"></span> </a>
   					<ul class="dropdown-menu" role="menu">
           				 <li><a href="#">Aktion</a></li>
            			 <li><a href="#">Andere Aktion</a></li>
            			<li><a href="#">Irgendwas anderes</a></li>
					</ul>
				</li>
				<li><a href="#">Studienplan bearbeiten</a></li>
				
	</ul>
	

</nav>
	</header>

	<main ng-controller="mainController">
	<section>
		
		<aside class="col-md-3">
			<div class="form-group">
				<label>Fakultät:</label> 
					<select class="form-control" id="fakultät" data-ng-model="fakultaet"
						data-ng-options="fakult.name for fakult in fakultaeten"
						ng-change="fakultaetChanged()">
					</select> 
				<br/> 
				<label for="studiengang">Studiengang:</label> 
					<select
						class="form-control" id="studiengang"
						data-ng-model="studiengang"
						data-ng-options="stud.name for stud in studiengaenge"
						ng-change="studiengangChanged()">
					</select> 
				<br/>

				<div id="modul_liste" ui-on-Drop="onDrop($event,$data,modulKa)">
					<p>Modulkatalog:</p>
					
					<div id="dragItemsBox">
						<div class="modul" ui-draggable="true" drag="modul"
							on-drop-success="dropSuccessHandler($event,$index,modulKa)"
							ng-repeat="modul in modulKa">{{modul.name}}</div>
					</div> 
					<div id="modul" ng-click="add(modulkatalog)"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Modul hinzufügen</div>
				</div>
				<div id="container" ui-on-Drop="onDrop($event,$data,container)">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Papierkorb</div>
				</div>
			<div id="container" ui-on-Drop="onDrop($event,$data,container)"><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Studienplan peichern</div>
			<div id="container" ui-on-Drop="onDrop($event,$data,container)"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Studienplan drucken</div>
			
			<div ng-click="speichern()"> datenbank yeeey</div>
			
		</aside>
		
	

		<aside class="col-md-9">
			<h5>Studiengangauswahl -> Fakultät: {{fakultaet.name}}
				Studingang: {{studiengang.name}}</h5>
			<div id="dropbereich">
				
			
				<table>
					<thead>
						<tr>
							<th id="th_semester">Sem.</th>
							<th>Studienaufbau</th>
						</tr>
					</thead>
					<tbody>
						<tr ui-on-Drop="onDrop($event,$data,sem1)">
							<td>
								<div id="semester"">1</div>
							</td>
							<td>
								<div id="struktur" ui-draggable="true" drag="mod1"
									on-drop-success="dropSuccessHandler($event,$index,sem1)"
									data-ng-model="modul" ng-repeat="mod1 in sem1">
									<a href="#">{{mod1.name}}</a>
								</div>
							</td>
						</tr>
						<tr ui-on-Drop="onDrop($event,$data,sem2)">
							<td>
								<div id="semester">2</div>
							</td>
							<td>
								<div id="struktur" ui-draggable="true" drag="mod2"
									on-drop-success="dropSuccessHandler($event,$index,sem2)"
									data-ng-model="modul"
									ng-repeat="mod2 in sem2 ">
									<a href="#">{{mod2.name}}</a>
								</div>
							</td>
						</tr>
						<tr ui-on-Drop="onDrop($event,$data,sem3)">
							<td>
								<div id="semester">3</div>
							</td>
							<td>
								<div id="struktur" ui-draggable="true" drag="mod3"
									on-drop-success="dropSuccessHandler($event,$index,sem3)"
									data-ng-model="modul"
									ng-repeat="mod3 in sem3 ">
									<a href="#">{{mod3.name}}</a>
								</div>
							</td>
						</tr>
						
						<tr ui-on-Drop="onDrop($event,$data,sem4)">
							<td>
								<div id="semester">4</div>
							</td>
							<td>
								<div id="struktur" ui-draggable="true" drag="mod4"
									on-drop-success="dropSuccessHandler($event,$index,sem4)"
									data-ng-model="modul"
									ng-repeat="mod4 in sem4 ">
									<a href="#">{{mod4.name}}</a>
								</div>
							</td>
						</tr>
						<tr ui-on-Drop="onDrop($event,$data,sem5)">
							<td>
								<div id="semester">5</div>
							</td>
							<td>
								<div id="struktur" ui-draggable="true" drag="mod5"
									on-drop-success="dropSuccessHandler($event,$index,sem5)"
									data-ng-model="modul"
									ng-repeat="mod5 in sem5 ">
									<a href="#">{{mod5.name}}</a>
								</div>
							</td>
						</tr>
						<tr ui-on-Drop="onDrop($event,$data,sem6)">
							<td>
								<div id="semester">6</div>
							</td>
							<td>
								<div id="struktur" ui-draggable="true" drag="mod6"
									on-drop-success="dropSuccessHandler($event,$index,sem6)"
									data-ng-model="modul"
									ng-repeat="mod6 in sem6 ">
									<a href="#">{{mod6.name}}</a>
								</div>
							</td>
						</tr>
						<tr ui-on-Drop="onDrop($event,$data,sem7)">
							<td>
								<div id="semester">7</div>
							</td>
							<td>
								<div id="struktur" ui-draggable="true" drag="mod7"
									on-drop-success="dropSuccessHandler($event,$index,sem7)"
									data-ng-model="modul"
									ng-repeat="mod7 in sem7 ">
									<a href="#">{{mod7.name}}</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</aside>
	</section>
	</main>
	<footer class="row">
  			<div class="col col-md-12 offset-9"> Copyright &copy; 2014 Studienplaner | Grafische Plantafel | <a href="http://www.hs-furtwangen.de">Hochschule Furtwangen</a> | <a href="http://www.hs-furtwangen.de">Impressum</a> </div>
  		
				
  		
  		</footer>
	  	</div>
	</div><!-- --ende container -->
	</div> <!-- ende row -->
</body>
</html>